pygame
pyperclip
sys
math



Example Function

F:eq~arctan(2sin(-2x-y/8+cos(3y-x-sin(cos(sin(sin(x*y)+x))+x-y+arccot(x)*arctan(y))))+frac{(x^{2}+frac{y^{2}}{14})}{3}-(frac{100}{x^{2}+y^{2}})+e^{-4-y})
F:r~255((x-(cos(3.7(x+0.8))/3))/2.8+1.28)
F:g~255(sin(1.5(x+pi/2))/2.8+0.5)
F:b~255(e^(-(3(x+0.99))^2)/3-x/9+0.1)
F:rest~1
~~~~~
C:rgb~r~g~b
~~~~~
R:rest~rest~0
~~~~~
D~eq~rgb~rest
~~~~~
S:x_min~-15.0
S:x_points~100
S:x_max~15.0
S:y_min~-15.0
S:y_points~100
S:y_max~15.0
S:max_recursion~100
S:angle_mode~radians
